@import url('https://fonts.googleapis.com/css?family=Noto%20Sans%20Adlam%20Unjoined:700|Noto%20Sans%20Adlam%20Unjoined:400');

:root{
    /* CSS HEX */
    --text: #0c121d;
    --background: #f1f4f9;
    --primary: #5678b8;
    --secondary: #a49ad5;
    --accent: #9476c6;
    --lowkey-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --shadow: 2px 4px 10px 0px rgba(68,68,68,0.4);
    --img-shadow: 0 4px 16px rgba(0, 0, 0, 0.33);

    /* Spacing */
    --space-xxs: 0.375rem; /* 6px */
    --space-xs: 0.75rem; /* 12px */
    --space-sm: 1.25rem; /* 20px */
    --space-md: 2rem; /* 32px */
    --space-lg: 3.25rem; /* 52px */
    --space-xl: 5.25rem; /* 84px */

    /* border radius */
    --border-radius: 16px;
}

body, button {
    font-family: 'Noto Sans Adlam Unjoined';
    font-weight: 400;
    background-color: var(--background);
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Noto Sans Adlam Unjoined';
    font-weight: 700;
}

p, h1, h2, h3, h4, h5, small {
    color: var(--text);
}

html {font-size: 100%;}

h1 {font-size: 4.210rem;}

h2 {font-size: 3.158rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small {font-size: 0.750rem;}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    height: 100vh;
}

/* nav bar */
.top-nav {
    width: 100%;
    height: var(--space-lg);
    border-bottom: 2px solid var(--secondary);
    border-bottom-left-radius: var(--space-xs);
    border-bottom-right-radius: var(--space-xs);
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
}

.top-nav h2 {
    margin: 0 var(--space-xs);
}

.top-nav a {
    text-decoration: none;
}

.top-nav div:nth-child(2) a {
    margin: 0 var(--space-md);
    font-weight: bold;
    color: var(--primary);
}

.top-nav div:nth-child(2) a:hover {
    text-decoration: underline;
}

.main-container {
    width: 100%;
    height: 100%;
}

/* HERO section */

.hero {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* video for hero */
.hero .video-box {
    z-index: -99;
    position: absolute;
    height: 100%;
}

#hero-video {
    height: 100%;
}

.hero-text-background {
    width: 35%;
    background-color: var(--background);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--space-md);
    box-sizing: border-box;
    box-shadow: var(--shadow);
}

.hero-text-background * {
    color: var(--text);
    margin: var(--space-sm);
}

.hero-text-background button {
    padding: var(--space-sm);
    border-radius: var(--border-radius);
    font-size: 1.777rem;
    background-color: var(--secondary);
    color: var(--primary);
    box-shadow: var(--img-shadow);

}

.hero hr {
    width: 50%;
    margin: var(--space-sm) 0;
}

.hero h1, .hero p {
    width: 75%;
    margin: var(--space-xs) 0;
    z-index: 1;
}

code {
    color: #e95400;
    font-family: "Roboto Mono", serif;
    font-weight: bold;
}

/* content */
.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: var(--space-xl) var(--space-sm);
    max-width: 1200px;
    margin: var(--space-md) auto;
    padding: var(--space-sm);

}

/* First two sections each take a column */
.first-section, .second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--space-md);
    background-color: var(--secondary);
    border-radius: var(--space-sm);
    box-shadow: var(--lowkey-shadow);
}

/* Ensuring images fit nicely */
.first-section img, .second-section img {
    max-width: 100%;
    height: auto;
    margin-top: var(--space-xs);
    border-radius: var(--space-xs);
    box-shadow: var(--img-shadow);
}

/* Features Section - Full Width */
.features {
    grid-column: 1 / -1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-xs);
    text-align: center;
    padding: var(--space-sm);
    background-color: var(--secondary);
    border-radius: var(--space-xs);
}

.features-box {
    display: flex;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xxs);
    padding: var(--space-xs);
    margin: var(--space-md);
    background-color: white;
    border-radius: var(--space-xs);
    box-shadow: var(--shadow)
}

.features-box .main-icon {
    font-size: 4.210rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
    }
}

/* buttons */
button {
    background-color: var(--primary);
}
/* footer */
footer {
    background-color: var(--accent);
    width: 100%;
    height: var(--space-md);
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

footer ul li {
    padding: 0 var(--space-xxs);
}

footer li a {
    text-decoration: none;
    color: white;
}

footer li a:hover {
    text-decoration: underline;
}