<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
<div class="main-container">
    <nav class="top-nav">
        <div>
            <a th:href="@{/}"><h2><span><i class="fa-regular fa-lemon"></i></span>recipelemon</h2></a>
        </div>
        <div>
            <a th:href="@{/login}">Log in</a>
        </div>
    </nav>
    <div class="form-container">
        <h1>You're one click away from thousands of recipes...</h1>
        <form th:action="@{/signup}" method="post" th:object="${user}">
            <div class="email-container">
                <label for="email">Email: </label>
                <input type="email" th:field="*{email}" id="email"  placeholder="e.g. mario@gmail.com" required>
            </div>
            <div class="password-container">
                <label for="password">Password</label>
                <input type="password" th:field="*{password}" id="password"  placeholder="Your password..." required>
            </div>
            <div class="confirm-password-container">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password"placeholder="Confirm your password..." required>
            </div>
            <button type="submit">Sign Up</button>
            <p>Didn't mean to Signup? <span><a th:href="@{/login}">Log in</a></span> instead</p>
        </form>
    </div>
</div>
</body>
</html>